// media.scss
@media (max-width: 1199px) {
	.image-goals {
		display: none;
	}
}

@media (min-width: 992px) {
	.container {
		width: 840px;
		display: flex;
		justify-content: space-between;
	}
	&-logo {
		display: block;
	}
	.logo-group {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}
	form {
		flex-direction: row;
		.form-group {
			margin-top: 0;
			input {
			width: 210px;
			padding-left: 26px;
		}
			&-get button {
				width: 196px;
				padding-left: 28px;
				padding-right: 27px;
			}
		}
		.download .container {
			display: block;
		}
		.container-footer {
			width: 840px;
			justify-content: row;
			display: flex;
		}
	}

	.bio {
		margin-top: 180px;
		.bio-image:after {
	    top: -126px;
	    left: 91px;
	    width: 579px;
	    height: 494px;
		}
		.title {
			text-align: left;
		    padding-left: 27px;
		    padding-right: 200px;
		}
	}

	.container-row {
		width: 840px;
		margin: 0 auto;
	}

	#clockdiv {
		width: 535px;
		margin: 50px auto 0px auto;
	}

	.download {
		margin-top: 100px;
		form {
			margin-left: 130px;
	    margin-top: 50px;
			.form-group {
				input {
					width: 373px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.goals {
		.title {
			position: relative;
			margin: 0 auto;
		}
		.image-goals img{
			display: block;
		}
		li {
			position: absolute;
			display: block;
    	padding: 0;
    	width: 200px;
    	font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			&:nth-of-type(1) {
				top: 93px;
    		left: -72px;
			}
			&:nth-of-type(2) {
				top: -72px;
    		left: 140px;
			}
			&:nth-of-type(3) {
				top: -109px;
    		left: 323px;
				width: 150px;
			}
			&:nth-of-type(4) {
				top: -328px;
    		left: 489px;
			}
			&:nth-of-type(5) {
				top: -464px;
    		left: 670px;
			}
		}
	}

	.download {
    margin-top: 0px;
  }
}